fail_fast: true
repos:
  - repo: local
    hooks:
      - id: system
        name: Requirements
        entry: poetry export --format=requirements.txt --without-hashes --dev --output=docs/requirements.txt
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: system
        name: Line Endings
        entry: poetry run python -c "import sys; from x2y.x2y import main as x2y; sys.exit(0) if x2y(['-f', 'dos', '-t', 'unx', 'docs/requirements.txt']) in [0, 1] else sys.exit(1)"
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: system
        name: isort
        entry: poetry run isort .
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: system
        name: Black
        entry: poetry run black .
        pass_filenames: false
        language: system
