include setup.py
include cback
include Changelog
include CREDITS
include INSTALL
include LICENSE
include README
include CedarBackup3/*.py
include CedarBackup3/actions/*.py
include CedarBackup3/extend/*.py
include CedarBackup3/tools/*.py
include CedarBackup3/writers/*.py
include util/cback-span
include util/cback-amazons3-sync
include util/test.py
include util/knapsackdemo.py
include util/docbook/*
include testcase/*.py
include testcase/data/*
include manual/Makefile
include manual/src/*.xml
include manual/src/images/html/*.png
include doc/cback.1
include doc/cback-span.1
include doc/cback-amazons3-sync.1
include doc/cback.conf.sample
include doc/docbook.txt
include doc/release.txt
include doc/osx/*
include doc/interface/*
include doc/interface/public/*
include doc/interface/private/*
include doc/manual/*
include doc/manual/images/*
